<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="card" *ngIf="item">
                <header class="card-header">
                    <p class="card-header-title">
                        Edit Item
                    </p>
                </header>
                <div class="card-content">
                    <form (ngSubmit)="updateItem()">
                        <!-- Name Field -->
                        <div class="field">
                            <label class="label" for="name">Name</label>
                            <div class="control">
                                <input class="input" type="text" id="name" [(ngModel)]="item.name" name="name"
                                    placeholder="Item Name">
                            </div>
                        </div>

                        <!-- Description Field -->
                        <div class="field">
                            <label class="label" for="description">Description</label>
                            <div class="control">
                                <textarea class="textarea" id="description" [(ngModel)]="item.description"
                                    name="description" placeholder="Item Description"></textarea>
                            </div>
                        </div>

                        <!-- Category Dropdown -->
                        <div class="field">
                            <label class="label" for="category">Category</label>
                            <div class="control">
                                <div class="select">
                                    <select id="category" [(ngModel)]="item.category.id" name="category">
                                        <option *ngFor="let category of clothingCategories" [ngValue]="category.id"
                                            [selected]="category.id === item.category?.id">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Update Button -->
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>