.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilisez toute la hauteur de la vue */
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    width: 50%; /* ou la largeur que vous préférez */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la carte */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-actions {
    text-align: right; /* Aligner les boutons à droite */
    padding-top: 10px; /* Espace au-dessus des boutons */
  }
  
  .btn {
    margin: 5px; /* Espace autour des boutons */
  }
  